<!DOCTYPE html>
<html lang="en">
  <head th:replace="/fragments/head"></head>
  <body>
    <nav th:replace="/fragments/nav :: nav-front"></nav>
    <div class="container-fluid mt-5">
      <div class="row">
        <div th:replace="/fragments/categories"></div>
        <div class="col"></div>
        <div
          class="col-8 addToCart"
          th:utext="${page.content}"
          id="search-results"
        ></div>
      </div>
    </div>
    <div th:replace="/fragments/footer"></div>
  </body>
</html>
